*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'FigtreeNormal';
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'FigtreeBold';
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 800;
}

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body{
    background-color: var(--yellow);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main{
    width: 80%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-radius: 16px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

p{
    font-family: 'FigtreeNormal';
}

.content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}

h1, h3, footer{
    font-family: 'FigtreeBold', sans-serif;
}

h1{
    font-size: 20px;
}

.tag{
    width: fit-content;
    padding: 8px;
    background-color: var(--yellow);
    font-family: 'FigtreeBold', sans-serif;
    border-radius: 8px;
    font-size: 14px;
}

.published{
    font-family: 'FigtreeNormal', sans-serif;
    font-size: 12px;
}

.illustration{
    width: 100%;
    border-radius: 8px;
}

.description{
    color: var(--grey);
    font-size: 14px;
    line-height: 20px
}

.user{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 8px;
}

.avatar{
    height: 30px;
}

h3{
    font-size: 14px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}